name: Java CI

on:
  push:
    branches: [ main, testng, junit4 ]  # Триггер на пуш в указанные ветки
  pull_request:
    branches: [ main ]  # Проверка PR в main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test
